**/.DS_Store
.editorconfig
.eslintignore
.eslintrc.yaml
.gitignore
.idea/**/*
.nvmrc
.travis.yml
.vscode-test/**/*
.vscode/**/*
**/__*
images/**/*
jsconfig.json
tag-release.sh
test/**/*
yarn-error.log
yarn.lock

